/*--------------------*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    background: #bb0ef5;
    /*background: #8F00FF;*/
    font-family: 'Times New Roman', Times, serif;
    font-family: cursive;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.container {
    background: white;
    max-width: 800px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 40px 40px 40px;
    flex-wrap: wrap;
}

.intro-gif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}

.intro-gif img { 
    width: 200px;
    align-items: center;
}

.intro-gif {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    height: 180px;
}

.intro-gif img:nth-child(3) {
    order: 2; 
}

.intro-gif img:nth-child(2) {
    order: 3; 
}

.intro-gif img:nth-child(1) {
    order: 1; 
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.intro p{
    text-align: center;
    font-size: 23px;
}

.intro h1{
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}

.questions {
    margin: 40px auto 40px auto;
}

.btn-answer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #8F00FF;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    text-align: center;
    flex-wrap: wrap;
}

button:nth-child(1) {
    margin-left: -200px;
    background: #8F00FF;
    color: #fff;
} 

button:nth-child(2) {
    margin-right: -200px;
    color: #8F00FF;
}

button p {
    margin-bottom: 7px;
}
/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
        flex-wrap: wrap;
    }

    .intro-title h1 {
        font-size: 32px;
    }

    button {
        width: 120px;
        font-size: 16px;
        flex-wrap: wrap;
    }
}